/* app css stylesheet */

ul{
padding: 15px;
list-style-type: none;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.app-input-label {
  display: inline-block;
  width: 35%;
}

.app-input.form-control {
  display: inline-block;
  width: 60%;
}


.jumbotron .app-input-label {
  display: inline-block;
  width: 20%;
}

.jumbotron .app-input.form-control {
  display: inline-block;
  width: 75%;
}

.date-picker .app-input-label{
  float:left;
  margin-right:5px;
}

/*
#search-area{
  background-image: url('../img/baggage3.gif');
  background-size:   cover;                      
  background-repeat: no-repeat;
}*/

.glyphicon.glyphicon-user {
    font-size: 50px;
  vertical-align: middle;
}

.list-element-padding-top{
 padding-top: 5px;
}


.bubble-right
{
position: relative;
vertical-align: top;
display: inline-block;
max-width: 350px;
padding: 3px 10px;
margin-right: 20px;
margin-bottom: 15px;
background: #d7e4ed;
word-wrap: break-word;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.bubble-right:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 8px 0 8px 15px;
border-color: transparent #d7e4ed;
display: block;
width: 0;
z-index: 1;
right: -15px;
top: 13px;
}

.bubble-left
{
position: relative;
vertical-align: top;
display: inline-block;
max-width: 350px;
padding: 3px 10px;
margin-left: 20px;
margin-bottom: 15px;
background: #E0E0D1;
word-wrap: break-word;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.bubble-left:after 
{
content: '';
position: absolute;

border-style: solid;
border-width: 8px 15px 8px 0;
border-color: transparent #E0E0D1;
display: block;
width: 0;
z-index: 1;
left: -15px;
top: 13px;
}

.ngdialog.ngdialog-theme-default.width600 .ngdialog-content{
  width: 600px;
  max-height: 420px;
  overflow-y: auto;

}

.chatting-area{
  margin: 0px 20px;
}

.message-self{
  float: left;
}

.message-other{
  float: right;
}

.message-other span{
  float: right;
}


p.name-time {
  font-size: 70%;
    font-style: italic;
  float: right;
}






















