/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.app-input-label {
  display: inline-block;
  width: 35%;
}

.app-input.form-control {
  display: inline-block;
  width: 60%;
}


.jumbotron .app-input-label {
  display: inline-block;
  width: 20%;
}

.jumbotron .app-input.form-control {
  display: inline-block;
  width: 50%;
}

.date-picker .app-input-label{
  float:left;
  margin-right:5px;
}

#search-area{
  background-image: url('../img/baggage2.png');
  background-size: 33% 50%;
}
