<!DOCTYPE html>
<html ng-app='myApp'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Share Your Baggage</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/jumbotron-narrow.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/ngstorage/ngStorage.js"></script>
  <script type="text/javascript" src="bower_components/moment/moment.js"></script>
  <script type="text/javascript" src="bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
  <script type="text/javascript" src="bower_components/ngDialog/js/ngDialog.js"></script>
  <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.css">
  <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-default.css">
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/directives.js"></script>
</head>
<body>
  <div class="container" >
    <div class="header" ng-controller="HeaderCtrl">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"><a href="#/home">Home</a></li>
          <li role="presentation" ng-if="signedIn">
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    {{userName}} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#/account">Account</a></li>
    <li><a href="#/dashboard">Dashboard</a></li>
    <li class="divider"></li>
    <li><a href="#/home" ng-click="logout()">Logout</a></li>
  </ul>
</div>
          </li>
          <li role="presentation" ng-if="!signedIn"><a href="#/signin">Sign in</a></li>
          <li role="presentation"><a href="#/about">About</a></li>
          <li><a href="#/post-offer" class="btn btn-warning">Offer a baggage</a></li>
        </ul>
      </nav>
      
      <h3 class="text-muted">Share Your Baggage</h3>
    </div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
    <div ng-view></div>

    <footer class="footer">
      <p>&copy; Company 2014</p>
    </footer>

  </div> <!-- /container -->
</body>
</html>
